/build/
/install/
/log/
/.cache
/src/bringup/pcd/
/src/location/odometer/point_lio/PCD/
/compile_commands.json
*pcd
/src/location/odometer/plain_slam_ros2/pcd/
/src/location/odometer/small_point_lio/pcd/
/src/location/odometer/small_point_lio/pcd/scan.pcd
